import store from '../store'

static function clickHandler (type) {
  console.log('beginning:', type)
  console.log(store.getState())
  store.dispatch({ type: type })
  console.log('after', store.getState())

}

class {
    onMount () {
      store.subscribe(() => {
        this.forceUpdate()
      })
    }

    // clickHandler (type) {
    //   store.dispatch({ type: type })
    // }
}

<div>
    <counter(store.getState()) clickHandler=clickHandler/>
</div>
